<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
	<% if content_for? :rss_tag %>	
		<%= yield :rss_tag %>
	<% end %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
